<div class="well">	
	<div id="container">
		<% @summaries.each do |summary|%>
			<%= @curriculumvitae.from %>
			<fieldset class="scheduler-border">
			    <legend class="scheduler-border">Summary</legend>
			    <div class="control-group">
			        <label class="control-label input-label" for="summary"></label>
			        		<%= summary.content%>
			    </div>
			</fieldset>
		<%end%>
		<div>
			<%= link_to 'Add Summary', new_curriculumvitae_summary_path(@curriculumvitae), class: "btn btn-info"%>
			<%= link_to 'Back', curriculumvitae_schedules_path(@curriculumvitae), class: "btn btn-success"%>
		</div>

	</div>
</div>
	<%= will_paginate @summaries%>
