  
  <div class="modal fade" id="newModal" role="dialog">
    <div class="modal-dialog modal-md" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal"><span>&times;</span></button>
          <h4 class="modal-title">Schedule Interview</h4>
        </div>
        <div class="modal-body">
          <div class="header">
            <strong>Email: <%= @curriculumvitae.from%></strong>
            
            <span id="headerEmail"></span>
            
            <h4>Select Interview Timing</h4></br>
          </div>
            <%= form_for :schedule, url: { action: "create" } do |f| %>
            <div class = "forp-group has-success has-feedback">
              <div class="form-inline">
                <%= f.label :Date %>
                <%= f.date_select :interview_date, type: "date", class: "form-control"%>
                <%= f.label :Time%>
                <%= f.time_select :interview_time, type: "date", class: "form-control"%>
              </div>
            </div>
             
          <div class="modal-footer">

            <%= button_tag(type: 'submit', class: "btn btn-primary") do %>
             Save
            <% end %>
            <%= link_to "Cancle", shortlists_path, class: "btn btn-danger"%>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
