
<%= render 'pagenav'%>
  <div class="table-responsive">
    <%= render 'tableheader'%>
      <table class="table table-striped table-bordered table-hover">
        <thead>
          <tr>
            <th class="col-md-1">S.N</th>
            <th>Send_By</th>
            <th>Received_on</th>
            <th>Attachment</th>
            <th>Actions</th>
          </tr>
        </thead>
        <tbody>
          <% @curriculumvitaes.each do |curriculumvitae|%>
            <tr>
              <td class="col-md-2" ><%= @curriculumvitaes.index(curriculumvitae) + 1%></td>
              <td class="email"><%= curriculumvitae.from%></td>
              <td class="col-md-2"><%= curriculumvitae.updated_at.localtime%></td>
              <td class="col-md-2"><%= curriculumvitae.attachment%></td>
              <td class="col-md-2", id="schedule", onclick="doOnClick();">
                <%= link_to 'Schedule_Interview', new_curriculumvitae_schedule_path(curriculumvitae.id), class: "btn btn-info", remote: true %></td>
            </tr>
          <%end%>
        </tbody>
      </table>
  </div>
  <div id="pop-up-modal">
  </div>
<%= will_paginate @curriculumvitaes%>




